

.NavbarWrapper {
    // display: flex;
    // box-sizing: border-box;
    // align-items: center;
    // padding: 10px;
    // gap: 20px;
    // height: 40px;
    &.dark-theme {
        a {
          color: #ffffff; 
        }
      }
    
      &.light-theme {
        a {
          color: #000000; 
        }
      }
    
    a {
        text-decoration: none;
        // color:black;
        font-size: 14px;
    }
    .NavAct {
        font-weight: 600;
    }
}