

.NavbarWrapper {
    &.dark-theme {
      
        a {
          color: #ffffff; 
        }
      }
    
      &.light-theme {
        background-color: white;
        a {
          color: #000000; 
        }
      }
    
    a {
        text-decoration: none;
        // color:black;
        font-size: 14px;
    }
    .NavAct {
        font-weight: 600;
    }
}