.SnackBarWrapper {
    display: flex;
    box-sizing: border-box;
    padding: 8px;
    width: min(250px,40vw);
    background-color: black;
    color: white;
    height: fit-content;
    min-height: 30px;
    align-items: center;
}