[data-sonner-toast][data-type="error"] [data-icon] {
  color: hsl(360, 100%, 45%) !important;
}
[data-sonner-toast][data-type="error"] [data-title] {
  color: hsl(360, 100%, 45%) !important;
}
[data-sonner-toast][data-type="error"] [data-description] {
  color: hsl(360, 100%, 45%) !important;
}
[data-sonner-toast][data-type="success"] [data-icon] {
  color: hsl(140, 100%, 27%) !important;
}
[data-sonner-toast][data-type="success"] [data-title] {
  color: hsl(140, 100%, 27%) !important;
}
[data-sonner-toast][data-type="success"] [data-description] {
  color: hsl(140, 100%, 27%) !important;
}
[data-sonner-toast][data-type="warning"] [data-icon] {
  color: hsl(31, 92%, 45%) !important;
}
[data-sonner-toast][data-type="warning"] [data-title] {
  color: hsl(31, 92%, 45%) !important;
}
[data-sonner-toast][data-type="warning"] [data-description] {
  color: hsl(31, 92%, 45%) !important;
}
[data-sonner-toast][data-type="info"] [data-icon] {
  color: hsl(210, 92%, 45%) !important;
}
[data-sonner-toast][data-type="info"] [data-title] {
  color: hsl(210, 92%, 45%) !important;
}
[data-sonner-toast][data-type="info"] [data-description] {
  color: hsl(210, 92%, 45%) !important;
}
